
#install 

.c-alert-warning La versión 3 se enfoca en la singularidad "(c-nombredelaclase)" de los nombres de clases, esto podría causar incompatibilidad con las versiones anteriores. Si tienes alguna duda contácta al equipo Coltrane. 

h1 Instalación Coltrane CSS
p
  | Para la instalación de esta librería puedes utilizar la etiqueta link dento de 
  span.bold head
  |  para utilizarlo en tu HTML
- var code=  `<link type="text/css" href="coltrane.min.css">`
pre.example_code
  |   
  code= code

.text-center.caption
  button.primary-button.m-3(type='submit' onclick='window.open(\'files/Coltrane.css v.3.0.zip\')') Descargar v.3
  button.secondary-button.m-3(type='submit' onclick='window.open("https://github.com/coltrane-dls/coltrane")') Ver repositorio
  br
  caption
      | Otras versiones: 
      br
      a.c-link(href onclick='window.open(\'./files/Coltrane.css v.2.0.0.zip\')') 2.0
      | ,
      a.c-link(href onclick='window.open(\'./files/Coltrane.css v.1.7.0.zip\')') 1.7
      | ,
      a.c-link(href onclick='window.open(\'./files/Coltrane.css v.1.6.0.zip\')') 1.6
      | ,
      a.c-link(href onclick='window.open(\'./files/Coltrane.css v.1.5.0.zip\')') 1.5
      | , 
      a.c-link(href onclick='window.open(\'./files/Coltrane.css v.1.4.0.zip\')') 1.4
      |  ,

      a.c-link(href onclick='window.open(\'./files/Coltrane.css v.1.3.0.zip\')') 1.3
      |     
