
.c-card.mb-4#intro
    h1 ¡Hola Dev 👋!
    p En este espacio encontrarás instalables y otros paquetes que te ayudarán a construir experiencias para Coppel. Estamos trabajando arduamente para mejorar la calidad de los componentes y demás recursos. 
        .c-alert-info
            small ℹ️ Los recursos de iOS, Android y Windows son iniciales, contienen tokens y otros recursos menores. Si deseas constribuir a estas librerías 
                a(href="https://docs.google.com/forms/d/e/1FAIpQLSdAhSrp8iwkq9Wwb4SnctwXCl_i2ntExXe0sCsqGvHDyLv9ow/viewform" target="_blank") da click aquí.
        br
        .small.mt-4 Si tienes alguna duda, contáctanos a través de este 
            a(href="https://docs.google.com/forms/d/e/1FAIpQLSdAhSrp8iwkq9Wwb4SnctwXCl_i2ntExXe0sCsqGvHDyLv9ow/viewform" target="_blank") enlace. 




br
hr
hr
hr
br
.container.padding-initial#libs
    .row
        
        .col-md-4.mb-3
            .c-card.item
                .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex; background-image: url('images/desvar.png');  background-repeat: no-repeat;background-size: cover;background-position: center;")
                .content.p-4
                    small Coltrane
                    h3.mt-1 Tokens
                    p Los principios y elementos básicos, como colores, tipografías y espaciados, etc.
                    
                    .text-right.pt-3
                        button.secondary-button.prmary.mt-0.bt-small(type='submit' onclick='window.location.replace("./dev.html#tokens")' ) Me interesa
        h2.mt-4 Librerías
        .col-md-4.mb-3
            .c-card.item
                .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex; background-image: url('images/devs.png');  background-repeat: no-repeat;background-size: cover;background-position: center;")
                .content.p-4
                    small Coltrane
                    h3.mt-1 CSS
                    p Librería con la capacidad de integrarse en cualquier desarrollo web.
                    
                    .text-center
                        button.secondary-button.prmary.mt-0.bt-small(type='submit' onclick='window.open("https://github.com/coltrane-dls/coltrane")' ) Repositorio
                        button.secondary-button.prmary.mt-0.bt-small(type='submit' onclick='window.location.replace("./dev.html#install")' ) Documentación
        
        .col-md-4.mb-3
            .c-card.item
                .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex; background-image: url('images/prime.png');  background-repeat: no-repeat;background-size: cover;background-position: center;")
                .content.p-4
                    small Coltrane
                    h3.mt-1 PrimeNG
                    p Un tema que integra Coltrane en PrimeNG para componentes UI y widgets.
                    
                    .text-right.pt-3
                        button.secondary-button.prmary.mt-0.bt-small(type='submit' onclick='window.open("https://github.com/mrtnbrjs/coltrane-prime-theme")' ) Ver repositorio
       
        
        h2.mt-4 Paquetes        
        .col-md-4.mb-3
            .c-card.item
                .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex; background-image: url('images/android.gif');  background-repeat: no-repeat;background-size: cover;background-position: center;")
                .content.p-4
                    small Coltrane
                    h3.mt-1 Android
                    p  Utiliza nuestros recursos para android.
                    
                    .text-right.pt-3
                        button.secondary-button.prmary.mt-0.bt-small(type='submit' onclick='window.open("https://drive.google.com/drive/folders/1M8DTMEL2sBdWtxilU3MF3QEpCXfsLmtH")' ) Me interesa
        .col-md-4.mb-3
            .c-card.item
                .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex; background-image: url('images/ios.webp');  background-repeat: no-repeat;background-size: cover;background-position: center;")
                .content.p-4
                    small Coltrane
                    h3.mt-1 iOS
                    p Utiliza nuestros recursos para iOS.
                    
                    .text-right.pt-3
                        button.secondary-button.prmary.mt-0.bt-small(type='submit' onclick='window.open("https://drive.google.com/drive/folders/1R5sJBSqfwTV0vQ6sqw-2U127AhK-pFUw")' ) Me interesa
        .col-md-4.mb-3
            .c-card.item
                .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex; background-image: url('images/c-windows.png');  background-repeat: no-repeat;background-size: cover;background-position: center;")
                .content.p-4
                    small Coltrane
                    h3.mt-1 Windows
                    p Utiliza nuestros recursos para Windows
                    
                    .text-right.pt-3
                        button.secondary-button.prmary.mt-0.bt-small(type='submit' onclick='window.open("https://drive.google.com/drive/folders/1w6aNWGF8L71lQ5MbWUZcZMd6dTjbJTqF")' ) Me interesa
        h2.mt-4 Otros recursos
        .col-md-4.mb-3
            .c-card.item
                .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex; background-image: url('images/snippets.png');  background-repeat: no-repeat;background-size: cover;background-position: center;")
                .content.p-4
                    small Coltrane
                    h3.mt-1 Snippets (BETA)
                    p Consulta el documento creado por la unidades de componentes y foundatios, para construir sin necesidad de ninguna librería. 
                    .text-right.pt-3
                        button.secondary-button.prmary.mt-0.bt-small(type='submit' onclick='window.open("https://www.figma.com/board/vBE8bY96rcJE8Bj566pTVq/%5BCode%5D-Components-process?node-id=30-532&t=1DtExi6BPZwOmYsG-1")' ) Me interesa
        