doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Coltrane 2
        link(rel="stylesheet", href="coltrane.min.css")
        
        //- Estilo solo del showroom
           
    body.background(style="margin:0px" )
        br
        br
        .container-lg
            .row
            
                .col-lg-3.col-sm-12
                    div.custom_side
                        block content
                .col-lg-8.col-sm-12
                    
                    .c-card
                        block components

        footer.c-footer.white-bg#footer-site
            .text-center.pb-4
                a(href='#') Ir arriba
            .container
                .row.p-5
                    .col-lg-2
                    .col-lg-2
                        h4 Menú
                        ul
                            li Inicio
                            li Developers Coppel
                            li Customer Experience
                    .col-lg-1
                    .col-lg-2
                        h4 Sitios relacionados
                        ul
                            li Coltrane.Figma
                            li Coltrane.CSS
                            li Coltrane.Ilustraciones
                    .col-lg-1
                    .col-lg-2
                        h4 Contáctanos
                        ul
                            li Misión, Visión y Valores
                            li Código de ética
                            li Mapa del sitio
                    .col-lg-1
            .caption.text-center.p-4
                | Aviso de privacidad
                br
                | Copyright© 2023 Coppel - Todos los derechos reservados.

    script(async src='https://www.googletagmanager.com/gtag/js?id=G-PJ2YXFLM5V')
    script.
    
        window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
        
            gtag('config', 'G-PJ2YXFLM5V');
  

                    

				
    