.c-card.menu
    a(href="#intro" ) Inicio

   
    h5.mb-2.black Foundations
    a(href="#tokens" ) Tokens
    a(href="#tipo" ) Escala tipográfica
  
    
    h5.mb-2.black Librerías
    a(href="#install") Instalación Coltrane CSS
    br
    hr
    hr
    h4.mb-2.black Componentes
    
    .caption.warning.pb-2 ⚠️ Estos componentes están construidos con 
        strong Coltrane CSS, 
        |proximamente agregaremos otras librerías. 

    h5.m-0.black Notificaciones
    a(href="#alert") Alert
    a(href="#tooltip") Tooltip
    br

    h5.m-0.black Navegación
    a(href="#breadcrumb") Breadcrumb
    a(href="#footer") Footer
    a(href="#navbar") Navbar
    a(href="#stepper") Stepper
    br
    h5.m-0.black Interacción
    a(href="#button") Button
    a(href="#card") Card
    a(href="#inputs") Input
    a(href="#modal") Modal
    a(href="#selector") Selector
    br
    h5.m-0.black Filtrado
    a(href="#table") Table
    a(href="#tabs") Tabs
    br
    h5.m-0.black Display
    a(href="#avatar") Avatar
    a(href="#collapse") Collapse
    //- a(href="#divider") Divider
    a(href="#list") List
    br
    h5.m-0.black Sistemas adicionales
    a(href="#column") Columnas
    a(href="#utils") Utilidades