#tokens
br

h1.m-0 Tokens 
  .caption Tambien conocidas como "variables de diseño"
p Coltrane esta conformado de algunas variables fundamentales, las cuales contruyen todos los componentes, pantallas y elmentos del front, estos son:

.caption También puedes encontrar las variables para otras tecnologías como iOS, Android y Windows 
  a(href="") en este link 

.d-flex
  .col-md-12
    pre.example_code 
      code.
          :root{
          
            /* ------------------------------------------------------------------ Tokens V.2   */
          
              
            /* ------------------------ Interactive colors */
            --primary:#006FB9;       
            --primary-hover:#145B97;  
            --primary-press:#194B7B; 
        
            /* ------------------------ Brand colors */
            --bancoppel:#FFF; 
            --coppel:#FFDD35;
            --coppel-max:#753CBD;
            --afore:#006FB9;
          
        
            /* ------------------------ Text colors */
            --text:#1B1A16;
            --text-soft:#717171;
            --text-neutral:#BDBDBD;
        
            /* ------------------------ Border colors */      
            --border-soft:#717171;
            --border-neutral:#D9E3F2;
            
            /* ------------------------ Background colors */
            --background:#F1F4FA;
            --background-soft:#FAFBFC;
            --background-office:#D9E3F2;
            --background-box:#FFFFFF;
          
            /* ------------------------ Semantic colors -- Semantic colors backgrounds*/ 
            --error:#BA4B44;        --error-bg:#FFF0EF; 
            --success:#2E8241;       --success-bg:#E5FFEB; 
            --warning:#AB5C00;       --warning-bg:#FFF4E8; 
            --info:#0076A9;          --info-bg:#E4F7FF; 
            --sales:#D3273E;
              
            /* ------------------------Fonts */
            --display:48px;
            --h1:36px;
            --h2:28px;
            --h3:24px;
            --h4:20px;
            --body:16px;
            --small:14px;
            --caption:12px;
            
            /* ----------------------Space Unit */
            
            --s-unit:8px;
            --s-unit-2:16px;
            --s-unit-3:24px;
            --s-unit-4:32px;
            --s-unit-5:40px;
            
            /* --------------------Corner radius Unit */
            
            --rounded-none: 0px;
            --rounded-sm: 8px;
            --rounded-md: 16px;
            --rounded-full: 999px;
            
            // ---------------------Shadow */
            --shadow-default: 0px 6px 24px 0px rgba(25, 75, 123, 0.04);
            --shadow-hover: 0px 6px 24px 0px rgba(25, 75, 123, 0.12);
            --shadow-primary: 0px 6px 24px 0px rgba(25, 75, 123, 0.18);
            --shadow-floating: 0px 4px 16px rgba(25, 75, 123, 0.24), 0px 6px 24px rgba(25, 75, 123, 0.16);
          
          };



