#card
  br
  br
  hr
  br

  

.types
  h2 📦 Card
  p
    | Para utilizar la estructura de card, bastara con ocupar 
    span.bold .card
    |  junto con un div y así tener disponible este tipo de componente
  .example.p-4
    .c-card
      p Soy un card
  h3 ⏺ Card item
  .example.p-4
    //  ==================================================================================== card item
    .c-card.item
      .img-content.neutral-bg
        img(src='https://cdn1.coppel.com/images/catalog/pm/6309933-1.jpg' alt)
      .content.m-3
        h4 Título
        p Contenido
        a(href='#') Link 
    //  ==================================================================================== card item