#collapse
  br
  br
  hr
  br
  h2 📦 Collapse
  .example.p-4
    //  ==================================================================================== ALERT
    .c-collapse-group
      details.c-collapse
        summary
          h3 Dudas fiancieras
          img(src='assets/chevron_down.svg' alt)
        .c-c-content
          h4 Title
          p
            | This is some text and 
            i these words are italic
      details.c-collapse
        summary
          h3 Créditos
          img(src='assets/chevron_down.svg' alt)
        .c-c-content
          h4 Title
          p
            | This is some text and 
            i these words are italic
      details.c-collapse
        summary
          h3 Click to expand
          img(src='assets/chevron_down.svg' alt)
        .c-c-content
          h4 Title
          p
            | This is some text and 
            i these words are italic


    //  ==================================================================================== ALERT