#footer
  br
  br
  hr
  br
  h2 📦 Footer
  .example.p-4
    //  ==================================================================================== PROGRES BAR
    .c-footer.white-bg
      .text-center.pb-4
        a(href='#') Ir arriba
      .container
        .row
          .col-lg-6
            h4 Menú
            ul
              li Inicio
              li Developers Coppel
              li Customer Experience
          .col-lg-6
            h2 👋
            br
            | Visualiza el footer completo 
            a(href='#footer-site') al final de esta página.
    //  ==================================================================================== PROGRES BAR