#modal
  br
  br
  hr
  br

  h2 游닍 Modal
  .example.p-5
    //  ==================================================================================== MODALBOX
    .c-modalbox
      a(href='#modal')
        img(src='assets/cross.svg')
      h1 T칤tulo
      p La app que seleccionaste ya no se mostrar치 en tu pantalla de inicio.
      p Si deseas verla de nuevo en el inicio ve a la secci칩n deMis Aplicaci칩n y m치rcala como destacada.
      button.primary-button.mb-3(type='button' name='button') De acuerdo, quitar
      button.secondary-button(type='button' name='button') Cancelar
    //  ==================================================================================== MODALBOX