#navbar
  br
  br
  hr
  br
  h2 📦 Navbar
  //   NAVBAR ************************************
  .example.p-5
    //  ==================================================================================== CODE
    nav.c-navbar
      .brand
        h4 coppel-design.com
      ul.menu
        li
          a(href='#') Brand
        li
          a(href='#') Navbar
        li
          a(href='#') Components
    //  ==================================================================================== CODE
  //   NAVBAR ************************************