#progress
 
  br
  br
  hr
  br
  h2 📦 ProgressBar
  .example.p-4
    //  ==================================================================================== PROGRES BAR
    .c-progressBar
      .groupBar
        .bar
        .progress(style='width:80%')
    //  ==================================================================================== PROGRES BAR
    br
    hr
    br
    //  ==================================================================================== PROGESS BAR PERCENT
    .c-progressBar.barPercent
      .groupBar
        .bar
        .progress(style='width:50%')
      label.small.text-center(for) 60%
    //  ==================================================================================== PROGESS BAR PERCENT