#range
  br
  br
  hr
  br
  h2 📦 Range
  .example.p-4
    //  ==================================================================================== ALERT
    .c-range
      input.slider#myRange(type='range' min='1' max='100' value='50')
    .d-flex.justify-content-between
      label.small Mónto mínimo $1,000
      label.small Mónto máximo $5,000
    //  ==================================================================================== ALERT