#stepper
  br
  br
  hr
  br
  h2 📦 Stepper
  .example.p-5
    //  ==================================================================================== STEPER
    .c-stepper
      .stepper-group
        .stepper-step.primary-bg
          .checked-step
        .stepper-text
          label(for) Título
          label.small Subtitle
        .stepper-line
      .stepper-group
        .stepper-step.neutral-bg.pencil 1
        .stepper-text
          label(for) Título
          label.small Subtitle
        .stepper-line
      .stepper-group
        .stepper-step.neutral-bg.pencil 2
        .stepper-text
          label(for) Título
    //  ==================================================================================== STEPER