#table
  br
  br
  hr
  br
  h2 📦 Table
  .example.p-4
    //  ==================================================================================== ALERT
    table.c-table.full.zebra-striped(cellspacing='0' cellpadding='0')
      thead
        tr
          th #
          th First Name
          th Last Name
          th Language
      tbody
        tr
          td 1
          td Some
          td One
          td English
        tr
          td 2
          td Joe
          td Sixpack
          td English
        tr
          td 3
          td Stu
          td Dent
          td Code
    //  ==================================================================================== ALERT