#tabs
  br
  br
  hr
  br
  h2  Tabs
  .example.p-4
    //  ==================================================================================== ALERT
    ul.c-tabs
      li Opci贸n 1
      li Opci贸n 2
      li Opci贸n 3
      li Opci贸n 4
    //  ==================================================================================== ALERT