#tooltip 
  br
  br
  hr
  br
  h2 📦 Tooltip
  .example.p-4
    //  ==================================================================================== TOOLTIP
    .tooltip
      label Holi 👋 Soy un tooltip, HOVER me !
      .tooltip-container.box-shadow
        h4 Título
        .tooltip-content.
          
          Muestran información concisa para guiar al usuario en alguna experiencia.
          
    //  ==================================================================================== TOOLTIP