extends layout.pug

block content

  .c-header.background-bg  
      img(src='images/bancoppel_big.png' alt)

  .custom(style="background-image: url(images/back1.png);     background-image: url(images/back1.png);background-size: contain;background-position: center;")
    .container-md
      br
      br
      br
      br
      br
      br
      br
      .text-center.m-5
        h3 Manual de uso de
        .display Logotipos y marcas
        .container-md
          .row
            .col-md-2
            .col-md-8
              p Nuestra identidad de marca es esencial para complementar la experiencia Coppel. El enfoque de nuestra identidad es simple, directo y divertido. Hemos creado este documento para ayudar a comunicar nuestras directrices de marca a las personas que nos rodean dentro y fuera de la empresa.
                |Es importante asegurarnos de que nuestra marca mantendrá una apariencia uniforme sin importar en dónde se encuentre. Esto requiere una estricta dedicación y apego a los lineamientos.
        br
        br
        br
       

            
        .container-md
          .row
            .col-md-3
            .col-md-6 
              .text-center 
                img(src="images/bancoppel_specs.png", alt="" style="width:100%;")
        br
        br
        br
        button.primary-button.m-2(type='submit' onclick='window.open("coltrane.html")') Descargar logos
        button.secondary-button.m-2(type='submit' onclick='window.open("coltrane.html")') Usar en figma

     
        br
        br
        br
        br
    .p-5.white-bg
      .container-md
        br
        br
        
       
        .text-center
            .display Horizontal
        br
        br
        .row.text-center.mb-5
          .col-md-1(style="width: 12.333%;")
          .col-md-4  
            h1 Color
            hr.mb-5 
            
            img.w-100(src="images/2-b.png", alt="")
          .col-md-1
          .col-md-4 
            h1 1 Tinta
            hr.mb-5 
            img.w-100(src="images/1-b.png", alt="")

      .container-md
        

        br
        br
        br
        br
        br
        br
        br
        .text-center
          .display Uso sobre colores y fotos
          .row
            .col-md-2
            .col-md-8
              p En este apartado se ejemplifica la aplicación de logotipo sobre los colores institucionales y los usos permitidos para cada una de sus versiones.

                |Es importante mencionar que para todos los materiales de comunicación en medios impresos y digitales siempre se deberá dar preferencia de uso a la versión horizontal y por ello las fotografías únicamente contemplan el uso de esta versión.

        br
        br
        br
        br
        br
        img.w-100(src="images/usos_bancoppel.png", alt="")
        
        
    