extends layout.pug

block content

  .c-header.background-bg  
      iframe(width='100%' height='850' src='https://www.youtube.com/embed/iGB8lvoI-d0?controls=0' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen)

  .custom(style="background-image: url(images/back1.png);     background-image: url(images/back1.png);background-size: contain;background-position: center;")
    .container-md
      br
      br
      br
      br
      br
      br
      br
      .text-center.m-5
        .display ¿Qué es un Design Language System?
        .row
          .col-md-2 
          .col-md-8
            p Un DLS o Sistema de Lenguaje de Diseño (por sus siglas en inglés) es un framework que combina un conjunto de componentes reutilizables, reglas y documentación. Proporciona coherencia en los productos, agiliza el proceso de diseño y desarrollo, y mejora la productividad.
      br
      br
      br
      br
      br
      br
      
      .row
        .text-center 
          h4.mb-0 Dls Mindset
          h1 Fundamentales
        .col-md-4.mb-4
          .c-card.item
            .img-content.neutral-bg(style="background-image: url('images/fonts.png'); background-size: cover;background-position: center;")
              
            .content.m-4
              h3 Estilos Tipográficos
              p En armonía con el sistema de espaciado de 8 puntos que utiliza el DLS.
              a(href='https://zeroheight.com/22ce61677/v/0/p/834a35') Conocer más
        .col-md-4.mb-4
          .c-card.item
            .img-content.neutral-bg(style="background-image: url('images/space.png'); background-size: cover;background-position: center;")
            .content.m-4
              h3 Espaciado
              p En armonía con el sistema de espaciado de 8 puntos que utiliza el DLS.
              a(href='https://zeroheight.com/22ce61677/v/0/p/834a35') Conocer más
        .col-md-4.mb-4 
          .c-card.item
            .img-content.neutral-bg(style="background-image: url('images/colors.png'); background-size: cover;background-position: center;")
            .content.m-4
              h3 Colores
              p Un sistema de colores nos proporciona las herramientas de profundidad, jerarquía y semanaticos necesarios.
              a(href='https://zeroheight.com/22ce61677/v/0/p/834a35') Conocer más
      
      br
      br
      br
      br
      br
      br
      br
      .text-center.m-5
        h4.mb-0 Uso de
          h1 Componentes
        button.primary-button.m-3(type='submit' onclick='window.open("https://zeroheight.com/22ce61677/v/0/p/834a35")') Conocer más
    
      .row
        .col-md-4.mb-4
          .c-card.item
            .img-content.neutral-bg(style="background-image: url('images/c-1.png'); background-size: cover;background-position: center;")
              
            .content.m-4
              h3 Componentes Base
              p Los componentes base son los componentes padre de las variables.
            
        .col-md-4.mb-4
          .c-card.item
            .img-content.neutral-bg(style="background-image: url('images/c-3.png'); background-size: cover;background-position: center;")
            .content.m-4
              h3 Componentes Personalizados
              p El DLS contiene varios componentes independientes para componer la barra de navegación.
              
        .col-md-4.mb-4 
          .c-card.item
            .img-content.neutral-bg(style="background-image: url('images/c-2.png'); background-size: cover;background-position: center;")
            .content.m-4
              h3 Templates
              p Un tablero proporciona una visión global, acceso a datos, funciones y controles clave.
      br
      br
      
      br
      br
      br
    .white-bg
      .container-md.text-center

        .row.p-5
          .text-center
            br
            
            br
            br
            .display Recursos
            button.primary-button.m-3(type='submit' onclick='window.open("recursos.html")') Descarga todos nuestros recursos disponibles.
            br
            br
            br
            br
          
            
          .col-md-2
          .col-md-10
            img.w-100(src="images/font_r.png", alt="")
            br
            br
            br
            br
    .custom.background-bg(style=" background:#f8f8f8;;min-height:75vh ;background-image: url(images/illus_e.png);background-size: contain;background-position: center;background-repeat: no-repeat;")
      .container-md
        .row
          .col-md-6 
          .col-md-6.mt-5.fix-mobile_botton
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            .display Sistema de ilustraciones
            p El manual de voz y tono fue creado para mantenerse de forma órganica, incluyente y accesible, cónoce todo que encontramos en nuestra investigación con nuestros clientes.
            button.primary-button.m-3(type='submit' onclick='window.open("coltrane.html")') Conocer más
    