extends layout.pug

block content

  .primary-bg.pt-4.pb-4
      .container-md.p-4
        .row.justify-content-center 
          .col-lg-5.p-4 
            .c-card.m-4(style="padding:0px")
              .background-bg.p-1.text-center
                img(src="images/componentes_.png", alt="" style="width:100%")
              .content.p-4
                h3.mt-0 Coltrane. components
                .text-center
                  .d-flex
                    button.primary-button.responsive.btn_fix_custom(type='submit' title="internal_components" onclick='window.open(\'https://www.figma.com/files/1047193570379035198/project/89126378/%F0%9F%93%A6-Components?fuid=1133412856505869872\')') Figma
                    .m-2
                   
                  div.m-3
                  a(href="https://www.figma.com/file/uagdKEpiDDYTd8pODWQ9rR/Components?type=design&t=lApokjbg1vaI82w1-1" target="blank" title="external_components") Equipos externo
          .col-lg-1 
          .col-lg-5.pt-3.white.align-self-center
            
            h1 Desarrolla de forma ágil y sencilla productos digitales de Coppel 
            h2 Maximiza tu potencial creativo con la librería de componentes Coltrane. 
            
  .custom.white-bg.p-4(style="min-height:80vh;").d-flex.justify-content-center.flex-column
    .container-md
      .row.justify-content-center 

        .col-md-5.d-flex.justify-content-center.flex-column.mb-4.align-self-center
          img(src="images/compo_img.png", alt="" style="width:100%")
           
        
        .col-md-5.d-flex.justify-content-center.flex-column.p-4.align-self-center
          h1.mb-0 El primer paso a la estandarización
          p 
            strong Coltrane.components 
            |es la biblioteca de recursos agnósticos para desarrollar interfaces de productos digitales consistentes para Coppel. Esta librería hará más eficiente la creación de interfaces web y mobile para las diferentes verticales de productos internos, de retail, banco y Afore.

        

  .custom.white-bg.p-4(style="min-height:80vh;").d-flex.justify-content-center.flex-column.background-bg 
    .container-md.p-4
      .row.justify-content-center 
        .col-md-8.text-center.p-4
          h1.m-0.p-0 Obtén las librerías de Figma
          p.m-0.p-0 Carga las librerías a tus flujo de trabajo y diseña de forma más efectiva con la colección de componentes agnósticos Coltrane, disponible en Figma. 

      br
      br
      br
      .row.justify-content-center
        
        .col-md-4.d-flex.justify-content-center.flex-column 
          .c-card(style="padding:0px") 
              .text-center(style="background-color:#d9e3f2")
                img(src="images/comp-2.png", alt="" style="width:79%")
              .content.p-4
                h3.m-0 Equipos internos - versión 2
                .caption.pt-2 Última actualización 2022
                p Set de componentes listos para útilizar por diseñadores de grupo Coppel. 
                button.primary-button.m-0.responsive(type='submit' title="internal_components" onclick='window.open(\'https://www.figma.com/file/woiG8y3dqI66XH6QtMCzSJ/Coltrane.components-2.0?type=design&node-id=0-1&mode=design&t=cYcUS1uJpSeB1Zkp-0\')' style="min-width:auto;") Obtén la librería
        .col-md-4.d-flex.justify-content-center.flex-column 
                  .c-card(style="padding:0px") 
                      .complementary-bg.text-center
                        img(src="images/comp-3.png", alt="" style="width:79%")
                      .content.p-4
                        h3.m-0 Equipos internos - versión 4
                        .alert.mt-3.bold ¡🎉 Nueva! - Actualizada:10/2023
                        p Para diseñadores que pertenecen a células internas de diseño y producto de Grupo Coppel, con esta última actualización podrán acceder a componente con más funcionalidades.
                        button.primary-button.m-0.responsive(type='submit' title="internal_components" onclick='window.open(\'https://www.figma.com/file/6dZzKTwlZO5sIfy37ObgrT/Coltrane.components-v4.0?type=design&fuid=1133412856505869872&prev-org-id=1047193570379035198&prev-selected-view=folder&prev-folder-id=89126378\')' style="min-width:auto;") Obtén la librería

        .col-md-4.d-flex.justify-content-center.flex-column 
          .c-card(style="padding:0px") 
              .background-bg.text-center
                img(src="images/externo_c.png", alt="" style="width:79%")
              .content.p-4
                h3.m-0 Proveedores
                p Para equipos de trabajo ajenos que diseñan productos digitales para Coppel.
                button.primary-button.m-0.responsive(type='submit' title="external_components" onclick='window.open(\'https://www.figma.com/file/uagdKEpiDDYTd8pODWQ9rR/Components?type=design&t=lApokjbg1vaI82w1-1\')' style="min-width:auto;") Obtén la librería
      br
      br
      br  

    .custom.white-bg.p-4(style="min-height:80vh;").d-flex.justify-content-center.flex-column
      .container-md
        .row.justify-content-center 

          .col-md-5.p-4
              h1.mb-0 Librería para equipos internos
              p Crea a partir de la librería de componentes más actuales de Coltrane en tus proyectos de Figma.
              strong Carga la librería en sencillos pasos:
              ul 
                li Clic en Assets
                li Clic en el icono de Team library
                li En la ventana que aparece selecciona Coltrane
                li Activa Coltrane.components
              button.primary-button.m-0.responsive(type='submit' title="internal_components" onclick='window.open(\'https://www.figma.com/files/1047193570379035198/project/89126378/%F0%9F%93%A6-Components?fuid=1133412856505869872\')' style="min-width:auto;") Obtén la librería

          .col-md-5.d-flex.justify-content-center.flex-column.mb-4.align-self-center
            img(src="images/prom_compo.png", alt="" style="width:100%")

    .custom.background-bg.p-4(style="min-height:80vh;").d-flex.justify-content-center.flex-column
      .container-md
        .row.justify-content-center 

          .col-md-5.d-flex.justify-content-center.flex-column.mb-4.align-self-center
            img(src="images/compo_ext.png", alt="" style="width:100%")
            
          
          .col-md-5.p-4.align-self-center
              h1.mb-0 Librería para proveedores
              p Desarrolla los proyectos digitales Coppel con el archivo de componentes Figma de Coltrane.

              strong Cómo obtener los componentes:
              ul 
                li Abre el archivo Figma
                li Busca el componente que deseas utilizar
                li Copia el componente del archivo Coltrane
                li Pega el componente en tu archivo
              button.primary-button.m-0.responsive(type='submit' title="external_components" onclick='window.open(\'https://www.figma.com/file/uagdKEpiDDYTd8pODWQ9rR/Components?type=design&t=lApokjbg1vaI82w1-1\')' style="min-width:auto;") Obtén la librería

          
          

        
