extends layout.pug

block content
    br
    br
    br
    .container
        .row 
            .col-md-3
                .mini-menu
                    h4.m-0 Foundations
    
                    a(href="#colores") Colores 
                    a(href="#tipo") Escala tipográfica
                    br
                    h4.m-0 Componentes
                    a(href="#agnostic") Agnósticos
                    a(href="#component_retail") Retail
                    a(href="#component_banking") Banking
                    br
                    h4.m-0 Icons & Spots
                    a(href="icons") 
                    a(href="#") Colores
                    br
                    h4.m-0 Templates
                    a(href="#") Agnósticos
                    br
                    h4.m-0 Illustrations
                    a(href="#") Central
                    
            .col-md-9
                .mini-content 
                    h2.m-0 Foundations
                    p Son los principios y elementos básicos, como colores, tipografías y espaciados, que establecen la base visual y funcional del Sistema de Diseño.
                    br
                    hr
                    
                    br
                    h3 Colores
                    p Son los principios y elementos básicos, como colores, tipografías y espaciados, que establecen la base visual y funcional del Sistema de Diseño.

                    h3 Escalas tipográficas
                    p Son los principios y elementos básicos, como colores, tipografías y espaciados, que establecen la base visual y funcional del Sistema de Diseño.




