
extends layout.pug

block content

  .primary-bg.pt-4.pb-4
      .container-md.p-4
        .row.justify-content-center 
          .col-lg-4.p-4 
            .c-card.m-4(style="padding:0px")
              .background-bg.p-4.text-center
                img(src="images/icon_set.png", alt="" style="width:100%")
              .content.p-4
                h3.mt-0 Coltrane.icons
                .text-center
                  .d-flex
                    button.primary-button.responsive.btn_fix_custom(type='submit' title="internal_components" onclick='window.open(\'https://www.figma.com/files/1047193570379035198/project/89126398/%F0%9F%98%80-Icons?fuid=1133412856505869872\')') Figma
 
                  div.m-3
           
                  a(href="https://docs.google.com/forms/d/e/1FAIpQLSflpJNMxI-gPUB7SW-561ntfDuUGRsmItxyXcxcTv0q5BP8Eg/viewform" target="blank" title="external_components") Solicitud de iconos
          .col-lg-1 
          .col-lg-5.pt-3.white.align-self-center
            
            h1 Complementa tus proyectos con nuestros más de 1700 Iconos
            h2 Descubre todos los  iconos que tenemos disponibles para ti y tu creatividad. 

            p 
              a(href="") Si necesitas un nuevo icono puedes dar click aquí. 
            
  .custom.white-bg.p-4(style="min-height:80vh;").d-flex.justify-content-center.flex-column
    .container-md
      .row.justify-content-center 

        .col-md-5.d-flex.justify-content-center.flex-column.mb-4.align-self-center
          img(src="images/icon_set.png", alt="" style="width:100%")
           
        
        .col-md-5.d-flex.justify-content-center.flex-column.p-4.align-self-center
          h1.mb-0 Descubre  los +1700 Icons con los que contamos en Coltrane
          p 
            strong Coltrane.icons
            |es nuestra  biblioteca estandarizada lista para consumir e integrar directamente a tus proyectos.

        

  .custom.white-bg.p-4(style="min-height:80vh;").d-flex.justify-content-center.flex-column.background-bg 
    .container-md.p-4
      .row.justify-content-center 
        .col-md-8.text-center.p-4
          h1.m-0.p-0 Obtén las librerías de Figma
          p.m-0.p-0 Carga las librerías a tus flujo de trabajo y diseña de forma más efectiva con la colección de componentes agnósticos Coltrane, disponible en Figma. 

      br
      br
      br
      .row.justify-content-center
        
        .col-md-4.d-flex.justify-content-center.flex-column 
          .c-card(style="padding:0px") 
              .text-center(style="background:#1b1a16;")
                img(src="images/figma_set.png", alt="" style="width:79%")
              .content.p-4
                h3.m-0 Equipos internos
                p Para diseñadores que pertenecen a células internas de diseño y producto de Grupo Coppel.
                button.primary-button.m-0.responsive(type='submit' title="internal_components" onclick='window.open(\'https://www.figma.com/files/1047193570379035198/project/89126398/%F0%9F%98%80-Icons?fuid=1133412856505869872\')' style="min-width:auto;") Obtén la librería
        .col-md-4.d-flex.justify-content-center.flex-column 
          .c-card(style="padding:0px") 
              .background-bg.text-center
                img(src="images/figma_set2.png", alt="" style="width:79%")
              .content.p-4
                h3.m-0 Proveedores
                p Para equipos de trabajo ajenos que diseñan productos digitales para Coppel.
                button.primary-button.m-0.responsive(type='submit' title="external_components" onclick='window.open(\'https://www.figma.com/file/CasS1XCuZcMpog5c6yv3oF/Coltrane.Icons?type=design&node-id=10-2&t=lApokjbg1vaI82w1-0\')' style="min-width:auto;") Obtén la librería
        .col-md-4.d-flex.justify-content-center.flex-column 
            .c-card(style="padding:0px") 
                .background-bg.text-center
                  img(src="images/drive_set.png", alt="" style="width:79%")
                .content.p-4
                  h3.m-0 Drive
                  p Para equipos de trabajo ajenos que diseñan productos digitales para Coppel.
                  button.primary-button.m-0.responsive(type='submit' title="external_components" onclick='window.open(\'https://drive.google.com/drive/folders/1kndUz30tN--Rtod-7roxbHnrYBe0XNuz\')' style="min-width:auto;") Obtén la librería
      
      br
      br
      br  

    .custom.white-bg.p-4(style="min-height:80vh;").d-flex.justify-content-center.flex-column
      .container-md
        .row.justify-content-center 

          .col-md-10.p-4.text-center
              h1.mb-0 Conoce nuestra paleta de colores
              p La paleta de color de los icons es conformada por los más legibles, que forman parte del código del Coltrane Design Language System. 
        br
        br
        br
        .row.justify-content-center 
          .col-md-6.d-flex.justify-content-center.flex-column.mb-4.align-self-center
            img(src="images/color_icon.png", alt="" style="width:100%")


   

        
