
extends layout.pug

block content

  .primary-bg.pt-4.pb-4
      .container-md.p-4
        .row.justify-content-center 
          .col-lg-4.p-4 
            .c-card.m-4(style="padding:0px")
              .background-bg.pt-4.text-center
                img(src="images/illus.png", alt="" style="width:60%")
              .content.p-4
                h3.mt-0 Coltrane.illustrations
                .text-center
                  .d-flex
                    button.primary-button.responsive.btn_fix_custom(type='submit' title="internal_components" onclick='window.open(\'https://www.figma.com/files/1047193570379035198/project/89126417/%F0%9F%8F%80-Illustrations?fuid=1133412856505869872\')') Figma
                  br
                  .d-flex
                    button.secondary-button.responsive.btn_fix_custom(type='submit' title="internal_components" onclick='window.open(\'https://docs.google.com/document/d/1bBOOaxWBnbe8ZNRmLV-JWvsv0L63TZuxVWTW1uSfODs/edit?usp=sharing\')') Manual de uso 
                      span.caption - ¡ Nuevo 🎉 !
                    
                  div.m-3
                  a(href="https://www.figma.com/file/9Z9PGIs7il7Ak7l2CUk4y7/DLS-Ilustraciones?type=design&t=lApokjbg1vaI82w1-0" target="blank" title="external_components") Equipos externo
                  
          .col-lg-1 
          .col-lg-5.pt-3.white.align-self-center
            
            h1 ¡Dale una pincelada de encanto a tus proyectos! 
            h2 Las ilustraciones son el toque Coltrane que necesitas
            
  .custom.white-bg.p-4(style="min-height:80vh;").d-flex.justify-content-center.flex-column
    .container-md
      .row.justify-content-center 

        
        
        .col-md-5.d-flex.justify-content-center.flex-column.p-4.align-self-center
          h1.mb-0 Gráficos amigables y atractivos
          p 
            strong Coltrane.illustrations 
            | es la biblioteca de gráficos para incorporar personajes, objetos, escenas o simplemente gráficos a tus proyectos. Los personajes Coltrane son el core de nuestro Design System.
        
        .col-md-5.d-flex.justify-content-center.flex-column.mb-4.align-self-center
          img(src="images/illus_c.png", alt="" style="width:100%")
           
        

  .custom.white-bg.p-4(style="min-height:80vh;").d-flex.justify-content-center.flex-column.background-bg 
    .container-md.p-4
      .row.justify-content-center 
        .col-md-8.text-center.p-4
          h1.m-0.p-0 Obtén las librerías de Figma
          p.m-0.p-0 Carga las librerías a tus flujo de trabajo y diseña de forma más efectiva con la colección de componentes agnósticos Coltrane, disponible en Figma. 

      br
      br
      br
      .row.justify-content-center
        
        .col-md-4.d-flex.justify-content-center.flex-column 
          .c-card(style="padding:0px") 
              .text-center
                img(src="images/builder_x.png", alt="" style="width:100%")
              .content.p-4
                h3.m-0 Avatar creator
                  br
                  .alert.mt-2.bold Actualizado 🎉
                p Es una herramienta para crear ilustraciones con las facciones, ropa y accesorios que elijas de nuestros assets.
          
                button.primary-button.m-0.responsive(type='submit' title="internal_components" onclick='window.open(\'https://www.figma.com/files/1047193570379035198/project/89126417/%F0%9F%8F%80-Illustrations?fuid=1133412856505869872\')' style="min-width:auto;") Obtén la librería
        .col-md-4.d-flex.justify-content-center.flex-column 
          .c-card(style="padding:0px") 
              .background-bg.text-center
                img(src="images/templates_x.png", alt="" style="width:100%")
              .content.p-4
                h3.m-0 Templates
                p Templates son escenas, objetos, personajes o fondos listos para su uso en tus presentaciones, documentos o proyectos. 
                button.primary-button.m-0.responsive(type='submit' title="external_components" onclick='window.open(\'https://www.figma.com/file/sVIw8h35WmgbV7yaD65sLA/Templates-illustrations?type=design&t=9pBfwjetDOHRfDEr-0\')' style="min-width:auto;") Obtén la librería
              
      br
      br
      br  


   

        
