extends layout.pug

block content



  section.primary-bg.p-4
    .container-md.p-4
      .row.d-flex.items-center.justify-center
        .col-md-1
        .col-md-12.animate__fadeIn.animate__animated.p-4.text
          .white.display ¡Hagamos experiencias extraordinarias juntos!
          h3.white En este sitio encontrarás las herramientas necesarias para 
            u construir, integrar o iterar
            | 
            | productos digitales y físicos de grupo Coppel.  
          button.secondary-button.primary.mt-0(type='submit' onclick='window.location.replace("./recursos.html")' ) Ver todos los recursos
          br
          br
          br
          br
          br
        
  
  .custom(style="background-image: url(images/back1.png);background-image: url(images/back1.png);background-size: contain;background-position: center;")



    .container-md(style=" margin-top:-100px;")
    
      .row
        .col-md-4.mb-4
          .c-card.item
            .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex; background-image: url('images/devs.png');  background-repeat: no-repeat;background-size: cover;background-position: center;")
            .content.m-4
              small Coltrane
              h3.mt-1 Para Developers
              p Herramientas técnicas para implementar el diseño en desarrollo.
              
              .text-right.pt-3
                button.secondary-button.primary.mt-0.bt-small(type='submit' onclick='window.location.replace("./index.html#")' ) Me interesa
        .col-md-4.mb-4
          .c-card.item
            .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex; background-image: url('images/designers.png');   background-repeat: no-repeat;background-size: cover;background-position: center;")
                      
            .content.m-4
              small Coltrane
              h3.mt-1 Para Diseñadores
              p Recursos y guías para interfaces atractivas y funcionales.
              .text-right.pt-3
                button.secondary-button.primary.mt-0.bt-small(type='submit' onclick='window.location.replace("./index.html#")' ) Me interesa
        .col-md-4.mb-4 
          .c-card.item
            .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex;background-image: url('images/managers.png');     background-repeat: no-repeat;background-size: cover;background-position: center;")
            .content.m-4
              small Coltrane
              h3.mt-1 Para Managers
              p Estrategia, gobernanza y métricas para éxito del producto.
              .text-right.pt-3
                button.secondary-button.primary.mt-0.bt-small(type='submit' onclick='window.location.replace("./index.html#")' ) Me interesa


    .container-md
      br
      br
      .text-center.m-5
        .display Branding 
          br 
          |Grupo Coppel 
    
      .row
        .col-md-4.mb-4
          .c-card.item
            .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex;")
                      img(src="images/coppel.png", alt="" style="width:100%;height:auto;" width="460" height="345" )
            .content.m-4
              h3 Coppel
              p Conoce qué es una Cuenta Individual, cómo funciona y porqué es importante.
              a(href='coppel.html' ) Conocer más
        .col-md-4.mb-4
          .c-card.item
            .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex;")
                      img(src="images/bancoppel.png", alt="" style="width:100%;height:auto;" width="460" height="345")
            .content.m-4
              h3 BanCoppel
              p Conoce los documentos que necesitas para iniciar tu trámite.
              a(href='bancoppel.html' ) Conocer más
        .col-md-4.mb-4 
          .c-card.item
            .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex;")
                      img(src="images/afore.png", alt="" style="width:100%;height:auto;" width="460" height="345")
            .content.m-4
              h3 Afore Coppel
              p Mantén tu información al día para recibir tu Estado de Cuenta y hacer trámites.
              a(href='afore.html' ) Conocer más
      
      br
      br
      br
      br
      br
      br
      br
      .text-center.m-5#coltrane
        .display Coltrane Design
          br 
          |Language System
        button.primary-button.m-3(type='submit' onclick='window.open("coltrane.html")') Conocer más
      .row
        .col-md-4.mb-4
          .c-card.item
            .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex;background-color: #f4faff;overflow: hidden;")
                      img(src="images/componentes.png", alt="" style="width:100%;height:auto;" width="460" height="345" )
            .content.m-4
              h3 Componentes
              p Creamos un sistema de diseño que nos representa, que busca un balance entre lo amigable y lo sobrio para la construcción de productos coherentes.
              .d-flex
                a(href="./componentes.html") Conocer más
          
        .col-md-4.mb-4
          .c-card.item
            .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex;background-color: #f4faff;overflow: hidden;")
                      img(src="images/ilustraciones.png", alt="" style="width:100%;height:auto;" width="460" height="345")
            .content.m-4
              h3 Ilustraciones
              p ¡Diseñamos para todos! Empatizamos con la diversidad de nuestros usuarios y creamos elementos que representen a todas las personas.
              .d-flex
                a(href="./illustrations.html") Conocer más
        .col-md-4.mb-4 
          .c-card.item
            .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex;background-color: #f4faff;overflow: hidden;")
                      img(src="images/icons_2.png", alt="" style="width:100%;height:auto;" width="460" height="345")
            .content.m-4
              h3 Iconos
              p Representamos conceptos que trasladan información útil al usuario, usados de forma clara y simplificada, que garantiza la consistencia de nuestros productos.
              .d-flex
                a(href="./icons.html") Conocer más
      .row
        .col-md-4.mb-4
          .c-card.item
            .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex;background-color: #f4faff;overflow: hidden;")
                      img(src="images/r-icons.png", alt="" style="width:100%;height:auto;" width="460" height="345" )
            .content.m-4
              h3 Spots
              p Los Spots son la representación gráfica simple y literal de una ilustración. Son una alternativa a los iconos, úsalos cuando necesites dar énfasis a información, páginas y productos.
              .d-flex
                a(href="./spots.html") Conocer más
          
        .col-md-4.mb-4
          .c-card.item
            .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex;background-color:#333337;overflow: hidden;")
                      img(src="images/desvar.png", alt="" style="width:100%;height:auto;" width="460" height="345")
            .content.m-4
              h3 Variables de diseño
              p Este documento contiene variables de colores como primarios de interacción, textos, backgrounds, borders. Ademas de tamaños tipografías, curvatura de bordes y sombras de profundidad.
              .d-flex
                a(href="./designvar.html") Conocer más
          
        .col-md-4.mb-4 
          .c-card.item
            .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex;background-color: #f4faff;overflow: hidden;")
                      img(src="images/icons_2.png", alt="" style="width:100%;height:auto;" width="460" height="345")
            .content.m-4
              h3 Coltrane CSS
              
              p Hoja de estilo tiene el objetivo de ayudarte en el desarrollo web de tu aplicación, página o componente. Siendo agnostivo a cualquier framework y trabajando de forma colaborativa con otros sistemas.
              .d-flex
                a(href="https://coltrane.design/" target="_blank") Conocer más
      .row
        .col-md-4.mb-4
          .c-card.item
            .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex;background-color: #f4faff;overflow: hidden;")
                      img(src="images/templates.png", alt="" style="width:70%;height:auto;" width="460" height="345" )
            .content.m-4
              h3 Templates
              .alert.bold Nuevo 🎉
              p Estos elementos te permitirán integrar dashboards y pantallas de login en segundos, agilizando así tu proceso de diseño de manera más rápida y eficiente.
              .d-flex
                a(href="https://www.figma.com/files/1047193570379035198/project/181251455/%F0%9F%96%BC%EF%B8%8F-Templates?fuid=1133412856505869872" target="_blank") Conocer más
      
      br
      br
      br
      br
      br
      br
      br
      br
    .custom.background-bg
      .container-md
        .row
          .col-md-6.p-5
            img.w-100(src="images/man_index.png", alt="")
          .col-md-6(style="display: flex;justify-content: center;align-items: flex-start;flex-direction: column;")
            .display Customer Experience
            p El manual de voz y tono fue creado para mantenerse de forma orgánica, incluyente y accesible, conoce todo lo que encontramos en nuestra investigación con nuestros clientes.
            button.primary-button.m-3(type='submit' onclick='window.location.replace("https://sites.google.com/coppel.com/manualdecomunicacinorgnicomag/inicio")') Conocer más
    