extends layout.pug

block content



  section.p-4(style="background:url('images/header.png'); background-size:cover;")
    .container-md.p-4
      .row.d-flex.items-center.justify-center
        .col-md-1
        .col-md-12.animate__fadeIn.animate__animated.p-4.text 
          .display ¡Hagamos experiencias extraordinarias juntos!
          h3 En este sitio encontrarás las herramientas necesarias para 
            u construir, integrar o iterar
            | 
            | productos digitales y físicos de grupo Coppel.  
          
          br
          br
          br
          br
          br
        
  
  .custom(style="background-image: url(images/back1.png);background-image: url(images/back1.png);background-size: contain;background-position: center;")



    .container-md(style=" margin-top:-100px;")
    
      .row
        .col-md-3.mb-3
          .c-card.item
            .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex; background-image: url('images/devs.png');  background-repeat: no-repeat;background-size: cover;background-position: center;")
            .content.m-4
              small Coltrane
              h3.mt-1 Para Developers
              p Herramientas técnicas para implementar el diseño en desarrollo.
              
              .text-right.pt-3
                button.secondary-button.primary.mt-0.bt-small(type='submit' onclick='window.location.replace("./index.html#developers")' ) Me interesa
        .col-md-3.mb-3
          .c-card.item
            .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex; background-image: url('images/designers.png');   background-repeat: no-repeat;background-size: cover;background-position: center;")
                      
            .content.m-4
              small Coltrane
              h3.mt-1 Para Diseñadores
              p Recursos y guías para interfaces atractivas y funcionales.
              .text-right.pt-3
                button.secondary-button.primary.mt-0.bt-small(type='submit' onclick='window.location.replace("./index.html#designers")' ) Me interesa
        .col-md-3.mb-3 
          .c-card.item
            .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex;background-image: url('images/writers.png');     background-repeat: no-repeat;background-size: cover;background-position: center;")
            .content.m-4
              small Coltrane
              h3.mt-1 Para Writers
              p Descubre cómo contribuir| al diseño a través de guías de estilo, tono y lenguaje inclusivo.
              .text-right.pt-3
                button.secondary-button.primary.mt-0.bt-small(type='submit' onclick='window.location.replace("./index.html#managers")' ) Me interesa
        .col-md-3.mb-3 
          .c-card.item
            .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex;background-image: url('images/managers.png');     background-repeat: no-repeat;background-size: cover;background-position: center;")
            .content.m-4
              small Coltrane
              h3.mt-1 Para Managers
              p Estrategia, gobernanza y métricas para éxito del producto.
              .text-right.pt-3
                button.secondary-button.primary.mt-0.bt-small(type='submit' onclick='window.location.replace("./index.html#managers")' ) Me interesa
      hr
      br
      hr
      br
      hr
      br
    




    
    #developers
    br
    br
    br
    .container-md
      .row
         .c-card.item.horizontal.mb-3
            .img-content(style="width:40%; max-width:400px; background-image:url('images/r-logos.png');background-size: cover;height: 317px;background-position: top;")
              
            .content.m-5
              h3 Recursos
              p Accede a una colección de herramientas que facilitan la creación de experiencias consistentes y colaborativas. Logotipos, tipografías, manuales y otros descargables que necesitas para diseñar y desarrollar.
              button.primary-button.m-3(type='submit' onclick='window.location.replace("./recursos.html")') Ver los recursos
         
         
         .c-card.item.horizontal.mb-3
            .content.m-5
              h3 Education
              p Accede a una colección de herramientas que facilitan la creación de experiencias consistentes y colaborativas. Logotipos, tipográfias, manuales y otros descargables que necesitas para diseñar y desarrollar.
              button.primary-button.m-3(type='submit' onclick='window.location.replace("./recursos.html")') Conocer más
            .img-content(style="width:40%; max-width:400px; background-image:url('images/tutorial.png');background-size: cover;height: 317px;background-position: top;")
            
            
    br
    br
    
    