doctype html
html(lang="en")
  head
    block head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
    link(rel="stylesheet", href="coltrane.min.css")
    link(rel="stylesheet", href="main.css")
    link(rel="stylesheet", href="bootstrap-grid.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")



    meta(property='og:title' content='Design @ Coppel (Coppel-Design.com)')
    meta(property='og:type' content='website')
    meta(property='og:url' content=' https://coppel-design.com/')
    meta(property='og:image' content='./images/principal.png')
    meta(property='og:description' content='El sitio donde podr치s encontrar toda la informaci칩n sobre los estandares de dise침o en Coppel')
    meta(property='og:site_name' content='Design @ Coppel')





    title Coppel Design 
  body.background-bg

    .p-4.flex.alert-container.animate__fadeInUp.animate__animated
      .alert.alert-warning
        | 丘멆잺
        | 
        span.p-2 Para acceder a la mayor칤a de los recursos, necesitas un correo de Coppel o Bancoppel.
          br
          | Para cualquier duda 
          a.warning(href="mailto:design@coppel.com") da click aqu칤  
          | ~ (Solo mails Coppel).  
      

    nav.c-navbar.fixed.animate__fadeInDown.animate__animated
            .brand
                  h4 
                    a(href="index.html")   Coppel Design
            ul.menu
                li
                    button.secondary-button.m-3.primary(type='submit' onclick='window.location.replace("index.html")' ) Inicio
                li
                    button.secondary-button.m-3.primary(type='submit' onclick='window.location.replace("tipografia.html")' ) Tipograf칤as
                    
                li
                        .tooltip
                            button.secondary-button.m-3.primary(href="coppel.html")  Branding
                            .tooltip-container.box-shadow
                                .tooltip-content
                                    a.simple(href="coppel.html") Coppel 
                                    br
                                    a.simple(href="bancoppel.html") BanCoppel
                                    br
                                    a.simple(href="afore.html") Afore         
                
                li
                  button.secondary-button.m-3.primary(type='submit' onclick='window.open("https://sites.google.com/coppel.com/coltrane-education/inicio")' ) Tutoriales
                
                li
                  button.secondary-button.m-3.primary(type='submit' onclick='window.open("https://sites.google.com/coppel.com/coltranecontent/inicio")' ) Contenido
                //- li
                //-     a(href='https://sites.google.com/coppel.com/manualdecomunicacinorgnicomag/inicio' target="blank") Customer UX
              
                li
                  button.secondary-button.m-3.primary(type='submit' onclick='window.location.replace("./recursos.html")' ) Recursos
                li 췅
                li 
                li
                  button.primary-button.m-3.primary(type='submit' onclick='window.open("https://forms.gle/ndeYvpVGYus8PESi6")' ) Cont치ctanos
                //- li
                //-     a(href='https://sites.google.com/coppel.com/manualdecomunicacinorgnicomag/inicio' target="blank") Customer Experience
    block content
  footer.c-footer.white-bg#footer-site
    .text-center.pb-4
      a(href='#') Ir arriba 游녡游낗
    .container
      .row.p-5
        .col-lg-2
        .col-lg-2
          h4 Men칰
          ul
            li 
              a.simple(href="#")  Inicio
            li 
              a.simple(href="https://sites.google.com/coppel.com/developers?pli=1&authuser=1")  Developers Coppel
            li 
              a.simple(href="https://sites.google.com/coppel.com/manualdecomunicacinorgnicomag/inicio")  Customer Experience
        .col-lg-1
        .col-lg-2
          h4 Sitios relacionados
          ul
            li 
              a.simple(href="https://www.figma.com/files/1047193570379035198/team/1093981884637337922")  Coltrane.Figma
            li 
              a.simple(href="https://coltrane.design/")  Coltrane.CSS
            li 
              a.simple(href="https://www.figma.com/files/1047193570379035198/project/63206897")  Coltrane.Ilustraciones
            li 
              a.simple(href='https://sites.google.com/coppel.com/manualdecomunicacinorgnicomag/inicio' target="blank") Customer Experience

        .col-lg-1
        .col-lg-2
          h4 Cont치ctanos
          ul
            li 
              a.simple(href="mailto:raul.gonzalezg@coppel.com")  raul.gonzalezg@coppel.com
       
            
        .col-lg-1
    .caption.text-center.p-4
      a.simple(href="#") Aviso de privacidad
      br
      | Copyright춸 2023 Coppel - Todos los derechos reservados.
    br
    br
    br
    br
    br
    //  Google tag (gtag.js) 
    //  Google tag (gtag.js) 
    script(async src='https://www.googletagmanager.com/gtag/js?id=G-S060M0NFTJ')
    script.
      
      window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
      
            gtag('config', 'G-S060M0NFTJ');
  
  
