doctype html
html(lang="en")
  head
    block head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href="coltrane.min.css")
    link(rel="stylesheet", href="main.css")
    link(rel="stylesheet", href="bootstrap-grid.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 游꼔 Coppel Design 
  body.background-bg
    nav.c-navbar.fixed
            .brand
                h4 游꼔 Coppel Design
            ul.menu
                li
                    a(href='index.html') Inicio
                li
                    a(href='https://sites.google.com/coppel.com/developers?pli=1&authuser=1' target="blank") Developers Coppel
                li
                        .tooltip
                            a(href="coppel.html")  Brand *
                            .tooltip-container.box-shadow
                                .tooltip-content
                                    a.simple(href="coppel.html") Coppel 
                                    br
                                    a.simple(href="bancoppel.html") Bancoppel
                                    br
                                    a.simple(href="afore.html") Afore
                            
                li
                    .tooltip
                            a(href="coltrane.html")  Coltrane *
                            .tooltip-container.box-shadow
                                .tooltip-content
                                    a.simple.mb-1(href="https://coltrane.design" target="blank") Coltrane.css
                                    br
                                    a.simple.mb-1(href="https://www.figma.com/files/1047193570379035198/project/63206897" target="blank") Coltrane.Illustrations
                                    br
                                    a.simple.mb-1(href="https://www.figma.com/files/1047193570379035198/project/76072020" target="blank") Coltrane.Components
                                    br
                                    a.simple.mb-1(href="https://www.figma.com/files/1047193570379035198/project/76072020" target="blank") Coltrane.icons
                li
                    a(href='recursos.html') Recursos
                li
                    a(href='https://sites.google.com/bancoppel.com/m-com-organico' target="blank") Customer Experience
    block content
  footer.c-footer.white-bg#footer-site
    .text-center.pb-4
      a(href='#') Ir arriba 游녡游낗
    .container
      .row.p-5
        .col-lg-2
        .col-lg-2
          h4 Men칰
          ul
            li 
              a.simple(href="#")  Inicio
            li 
              a.simple(href="#")  Developers Coppel
            li 
              a.simple(href="#")  Customer Experience
        .col-lg-1
        .col-lg-2
          h4 Sitios relacionados
          ul
            li 
              a.simple(href="#")  Coltrane.Figma
            li 
              a.simple(href="#")  Coltrane.CSS
            li 
              a.simple(href="#")  Coltrane.Ilustraciones
        .col-lg-1
        .col-lg-2
          h4 Cont치ctanos
          ul
            li 
              a.simple(href="#")  Misi칩n, Visi칩n y Valores
            li 
              a.simple(href="#")  C칩digo de 칠tica
            li 
              a.simple(href="#")  Mapa del sitio
        .col-lg-1
    .caption.text-center.p-4
      a.simple(href="#") Aviso de privacidad
      br
      | Copyright춸 2023 Coppel - Todos los derechos reservados.
