doctype html
html(lang="en")
  head
    block head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href="coltrane.min.css")
    link(rel="stylesheet", href="main.css")
    link(rel="stylesheet", href="bootstrap-grid.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Coppel Design 
  body.background-bg
    nav.c-navbar.fixed
            .brand
                h4 Coppel Design
            ul.menu
                li
                    a(href='index.html') Inicio
                    
                //- li
                //-     a(href='https://sites.google.com/coppel.com/developers?pli=1&authuser=1' target="blank") Developers Coppel
                li
                        .tooltip
                            a(href="coppel.html")  Brand
                            .tooltip-container.box-shadow
                                .tooltip-content
                                    a.simple(href="coppel.html") Coppel 
                                    br
                                    a.simple(href="bancoppel.html") Bancoppel
                                    br
                                    a.simple(href="afore.html") Afore
                            
                li
                    .tooltip
                            a(href="coltrane.html")  Coltrane
                            .tooltip-container.box-shadow
                                .tooltip-content
                                    a.simple.mb-1(href="https://coltrane.design" target="blank") Coltrane.css
                                    br
                                    a.simple.mb-1(href="https://www.figma.com/files/1047193570379035198/project/63206897" target="blank") Coltrane.Illustrations
                                    br
                                    a.simple.mb-1(href="https://www.figma.com/files/1047193570379035198/project/76072020" target="blank") Coltrane.Components
                                    br
                                    a.simple.mb-1(href="https://www.figma.com/files/1047193570379035198/project/76072020" target="blank") Coltrane.icons
                li
                    a(href='recursos.html') Recursos
                li
                    a(href='https://sites.google.com/bancoppel.com/m-com-organico' target="blank") Customer Experience
    block content
  footer.c-footer.white-bg#footer-site
    .text-center.pb-4
      a(href='#') Ir arriba 👆🏽
    .container
      .row.p-5
        .col-lg-2
        .col-lg-2
          h4 Menú
          ul
            li 
              a.simple(href="#")  Inicio
            li 
              a.simple(href="https://sites.google.com/coppel.com/developers?pli=1&authuser=1")  Developers Coppel
            li 
              a.simple(href="https://sites.google.com/coppel.com/manualdecomunicacinorgnicomag/inicio")  Customer Experience
        .col-lg-1
        .col-lg-2
          h4 Sitios relacionados
          ul
            li 
              a.simple(href="https://www.figma.com/files/1047193570379035198/team/1093981884637337922")  Coltrane.Figma
            li 
              a.simple(href="https://coltrane.design/")  Coltrane.CSS
            li 
              a.simple(href="https://www.figma.com/files/1047193570379035198/project/63206897")  Coltrane.Ilustraciones
        .col-lg-1
        .col-lg-2
          h4 Contáctanos
          ul
            li 
              a.simple(href="mailto:raul.gonzalezg@coppel.com")  raul.gonzalezg@coppel.com
            li 
              a.simple(href="mailto:carlos.peraza@coppel.com")  carlos.peraza@coppel.com
            
        .col-lg-1
    .caption.text-center.p-4
      a.simple(href="#") Aviso de privacidad
      br
      | Copyright© 2023 Coppel - Todos los derechos reservados.
