extends layout.pug

block content
    br
    br
    br
    h1
    .container
        .row 
            
                    
                    


            .col-md-12
                .c-card.mini-content.mb-4
                    h1.m-0 ¡Hola Manager!
                    p En esta sección podrás encontrar información relacionada a la gestión y organización del sistema de diseño “Coltrane”, así como reportes obtenidos de la investigación de sus usuarios. 
        .row
            .col-md-4.mb-3
                .c-card.item
                    .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex; background-image: url('images/report.png');  background-repeat: no-repeat;background-size: cover;background-position: center;")
                    .content.p-4
                        small Coltrane
                        h3.mt-1 Executive Report
                        p Presentación de resultados para el primer trimestre del año 2024.
                        
                        .text-right.pt-3
                            button.secondary-button.prmary.mt-0.bt-small(type='submit' onclick='window.open("https://drive.google.com/file/d/1Kv1INAX-DnWwjPlRxgJHT3n-HYjAuCBP/view")' ) Me interesa
            .col-md-4.mb-3
                .c-card.item
                    .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex; background-image: url('images/dashboard.png');  background-repeat: no-repeat;background-size: cover;background-position: center;")
                    .content.p-4
                        small Coltrane
                        h3.mt-1 Dashboard
                        p Informe conciso de resultados del primer trimestre.
                        
                        .text-right.pt-3
                            button.secondary-button.prmary.mt-0.bt-small(type='submit' onclick='window.open("https://docs.google.com/presentation/d/1TdJ8gRuABbecuO5z55vQ3YJ9AvcOtapqpdcwmadPll8/edit#slide=id.g2c7edd70dde_1_0")' ) Me interesa

            .col-md-4.mb-3
                .c-card.item
                    .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex; background-image: url('images/orga.png');  background-repeat: no-repeat;background-size: cover;background-position: center;")
                    .content.p-4
                        small Coltrane
                        h3.mt-1 Organigrama
                        p Representación visual clara y estructurada de la organización en Coltrane.
                        
                        .text-right.pt-3
                            button.secondary-button.prmary.mt-0.bt-small(type='submit' onclick='window.open("https://www.figma.com/file/UTPT1RQdBVfI1nY47OWYmx/Organigrama-Q2?type=whiteboard&node-id=0%3A1&t=7Nuz3Hcqwz0HQbun-1")' ) Me interesa
            .col-md-4.mb-3
                .c-card.item
                    .background-bg(style="padding:3em;height: 80px;justify-content: center;align-items: center;display: flex; background-image: url('images/backstage.png');  background-repeat: no-repeat;background-size: cover;background-position: center;")
                    .content.p-4
                        small Coltrane
                        h3.mt-1 Backstage
                        p Documento detallado sobre la construcción y funcionamiento del sistema: procesos, unidades, artefactos y ceremonias.
                        small Lectura de 15 minutos.
                        
                        .text-right.pt-3
                            button.secondary-button.prmary.mt-0.bt-small(type='submit' onclick='window.open("https://docs.google.com/document/d/1JGOFi4yureRBOZA3QuFl67vpMMzGfY26vz9J0DiyIRE/edit")' ) Leer el documento
