extends layout.pug

block content

  .c-header.background-bg  
      img(src='images/recursos.png' alt)

  .custom(style="background-image: url(images/back1.png);     background-image: url(images/back1.png);background-size: contain;background-position: center;")
    .container-md
      .row
        
        .col-md-12
          .display.mb-5.mt-5 Recursos Descargables
          .c-card.item.horizontal.mb-3
            .img-content
              img(src='images/r-icons.png' alt)
            .content.m-3
              h4 Iconos
              p En armonía con el sistema de espaciado de 8 puntos que utiliza el DLS.
            button.primary-button.m-5 Ver en figma
          .c-card.item.horizontal.mb-3
            .img-content
              img(src='images/r-logos.png' alt)
            .content.m-3
              h4 Logotipos
              p En armonía con el sistema de espaciado de 8 puntos que utiliza el DLS.
            button.primary-button.m-5 Descargar
          .c-card.item.horizontal.mb-3
            .img-content
              img(src='images/r-fonts.png' alt)
            .content.m-3
              h4 Tipografías
              p En armonía con el sistema de espaciado de 8 puntos que utiliza el DLS.
            button.primary-button.m-5 Descargar
          .c-card.item.horizontal.mb-3
            .img-content
              img(src='images/r-fonts.png' alt)
            .content.m-3
              h4 Template de presentación
              p En armonía con el sistema de espaciado de 8 puntos que utiliza el DLS.
            button.primary-button.m-5 Descargar
          