extends layout.pug

block content

  .background-bg.pt-4.pb-4
      .container-md
        .row.justify-content-center 
         
          .col-lg-5.pt-3 
            
            h1 Tipografías Oficiales Grupo Coppel
            h2 Listas para descargar, usar e implementar en tus diseños y desarrollos.
            p  Es importante usar las tipografías oficiales, ya que de otra manera 
             span.bold.error podrías estar generando penalizaciones por usos no licenciados 
             | de las tipografías en tus productos. 
          .col-lg-1 
          .col-lg-3 
            .c-card.m-4(style="padding:0px")
              .complementary-bg.p-4.text-center
                img(src="images/tipo.png", alt="" style="width:35%")
              .content.p-4
                h3 Tipografías oficiales
                p Circular y Helvetica
                button.primary-button.responsive.btn_fix_custom(type='submit' onclick='window.open(\'https://drive.google.com/drive/folders/1u6tp1SE32P_83rjS_aIE7ict33-lAJiT\')') Descargar

            
  .custom.white-bg.p-4(style="min-height:80vh;").d-flex.justify-content-center.flex-column
    .container-md
      .row.justify-content-center 
        
        .col-md-3.d-flex.justify-content-center.flex-column
          h1.mb-0 1. Descarga
          h2.mb-0 Las tipografías oficiales de Grupo Coppel.
          p Con ellas creamos increíbles experiencias para nuestros clientes y colaboradores.

        .col-md-3.d-flex.justify-content-center.flex-column.mb-4
          .c-card(style="padding:0px") 
              .neutral-bg.p-4.text-center
                img(src="images/circular.png", alt="" style="width:70%")
              .content.p-4
                h3.m-0 Circular Std
                p Descarga el archivo para instalar en tu computadora como .ttf , .woff , etc. Y utilízalo en el software que requieras.
                button.primary-button.m-0.responsive(type='submit' onclick='window.open(\'https://drive.google.com/drive/folders/1u6tp1SE32P_83rjS_aIE7ict33-lAJiT\')' style="min-width:auto;") Descargar
        
        .col-md-3.d-flex.justify-content-center.flex-column.mb-4 
          .c-card(style="padding:0px") 
              .neutral-bg.p-4.text-center
                img(src="images/helvetica.png", alt="" style="width:79%")
              .content.p-4
                h3.m-0 Helvetica N.
                p Descarga el archivo para instalar en tu computadora como .ttf , .woff , etc. Y  utilízalo en el software que requieras.
                button.primary-button.m-0.responsive(type='submit' onclick='window.open(\'https://drive.google.com/drive/folders/1u6tp1SE32P_83rjS_aIE7ict33-lAJiT\')' style="min-width:auto;") Descargar


  .custom.white-bg.p-4(style="min-height:80vh;").d-flex.justify-content-center.flex-column
    .container-md
      .row.justify-content-center 
        
        

        .col-md-3.d-flex.justify-content-center.flex-column 
          .c-card(style="padding:0px") 
              .black-bg.p-4.text-center
                img(src="images/css.png", alt="" style="width:79%")
              .content.p-4
                h3.m-0 CSS
                p Con tan solo un link puedes implementar la librería con tipografías, colores y componentes.
                button.primary-button.m-0.responsive(type='submit' onclick='window.open(\'https://coltrane.design\')' style="min-width:auto;") Entrar
        .col-md-1
        .col-md-5.d-flex.justify-content-center.flex-column
          h1.mb-0 2.Implementación
          h2.mb-0 Cada proyecto tiene necesidades específicas.
          p Utiliza 
            span.bold coltrane.css 
            | para instalar en tu proyecto una versión agnóstica de colores, tipografías y componentes.
            br
            br
            | Esta librería puede ser utilizada en cualquier tipo de proyecto web sin importar el framework. 

  .custom.white-bg.p-4(style="min-height:80vh;").d-flex.justify-content-center.flex-column
    .container-md
      .row.justify-content-center 
        
        
        .col-md-5.d-flex.justify-content-center.flex-column
          h1.mb-0 3. Encuentra más recursos
          h2.mb-0 Puedes ir al sitio con recursos de diseño de productos digitales.
        .col-md-1 
        .col-md-3.d-flex.justify-content-center.flex-column 
          .c-card(style="padding:0px") 
              .complementary-bg.p-4.text-center
                img(src="images/la.png", alt="" style="width:79%")
              .content.p-4
                h3.m-0 Recursos descargables
                p Presentaciones, imágenes, ilustraciones y muchos otros recursos listos para que puedas crear experiencias Coppel. 
                button.primary-button.m-0.responsive(type='submit' onclick='window.location.replace(\'https://coppel-design.com/recursos.html\')' style="min-width:auto;") Entrar
       
        